<div class="nav-menu-container">
  <div class="database-title">
    <a class="title-link" (click)="gotoHome()">AA Database</a>
  </div>
  <button class="databaseButton" (click)="gotoDatabase()" (mouseover)="showSubMenu()">
    Database
    <span class="fa fa-sort-desc"></span>
  </button>

  <button class="skillCalculatorButton" (click)="gotoSkillCalculatorPage()">Skill Calculator</button>
  <button class="gearCalculatorButton" (click)="gotoGearCalculatorPage()">Gear Calculator</button>
  <div class="database-menu-container">
    <div class="database-sub-menu" *ngIf="subMenu === true">
      <div  *ngFor="let item of subMenuItems" class="database-sub-menu-titles" (mouseover)="mouseOver(item)" (mouseleave)="mouseLeave(item)">
        {{item.name}}
        <span *ngIf="item.showArrow === true" class="database-sub-menu-arrow fa fa-caret-right"></span>
        <div [class]="item.section.class" *ngIf="item?.section?.show === true">
          <div  *ngFor="let item of item?.section?.items" class="database-sub-menu-titles" (mouseover)="mouseOver(item)" (mouseleave)="mouseLeave(item)">
            {{item.name}}
            <span *ngIf="item.showArrow === true" class="database-sub-menu-arrow fa fa-caret-right"></span>
            <div [class]="item.section.class" *ngIf="item?.section?.show === true">
              <div  *ngFor="let item of item?.section?.items" class="database-sub-menu-titles" (mouseover)="mouseOver(item)" (mouseleave)="mouseLeave(item)">
                {{item.name}}
                <span *ngIf="item.showArrow === true" class="database-sub-menu-arrow fa fa-caret-right"></span>
                <div [class]="item.section.class" *ngIf="item?.section?.show === true">
                  <div  *ngFor="let item of item?.section?.items" class="database-sub-menu-titles">
                    {{item.name}}
                    <span *ngIf="item.showArrow === true" class="database-sub-menu-arrow fa fa-caret-right"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
