<div class="nav-menu-container">
  <div class="database-title">
    <a class="title-link" (click)="gotoHome()">AA Database</a>
  </div>
  <!--<button class="databaseButton" (mouseover)="t = true" (mouseleave)="t = false">-->
    <!--Database-->
    <!--<span class="fa fa-sort-desc"></span>-->
  <!--</button>-->

  <button class="calculatorButton" (click)="gotoCalculatorPage()">Calculator</button>
  <div class="database-sub-menu-container">
    <div class="database-sub-menu" *ngIf="subMenu === true">
      <div class="database-sub-menu-titles">
        Item
        <span class="database-sub-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-sub-menu-titles">
        Quest
        <span class="database-sub-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-sub-menu-titles">
        Achievements
        <span class="database-sub-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-sub-menu-titles">
        NPC
        <span class="database-sub-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-sub-menu-titles">
        Design
        <span class="database-sub-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-sub-menu-titles">
        Skills
        <span class="database-sub-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-sub-menu-titles">
        Title
      </div>
    </div>

    <div class="database-item-menu" *ngIf="itemMenu === true">
      <div class="database-item-menu-titles" (mouseover)="weapons = true; armor = false; accessory = false; consumables = false; materials = false; machining = false; battlePets = false; toy = false;">
        Weapons
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = true; accessory = false; consumables = false; materials = false; machining = false; battlePets = false; toy = false;">
        Armor
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = true; consumables = false; materials = false; machining = false; battlePets = false; toy = false;">
        Accessories
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = false; consumables = false; materials = false; machining = false; battlePets = false; toy = false;">
        Costume
      </div>
      <div class="database-menu-spacer-bottom"></div>
      <div class="database-menu-spacer-border-top"></div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = false; consumables = false; materials = false; machining = false; battlePets = false; toy = false;">
        Item sets
      </div>
      <div class="database-menu-spacer-border-bottom"></div>
      <div class="database-menu-spacer-top"></div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = false; consumables = true; materials = false; machining = false; battlePets = false; toy = false;">
        Consumables
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = false; consumables = false; materials = true; machining = false; battlePets = false; toy = false;">
        Materials
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = false; consumables = false; materials = false; machining = true; battlePets = false; toy = false;">
        Machining
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = false; consumables = false; materials = false; machining = false; battlePets = true; toy = false;">
        Battle Pets
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
      <div class="database-item-menu-titles" (mouseover)="weapons = false; armor = false; accessory = false; consumables = false; materials = false; machining = false; battlePets = false; toy = true;">
        Toy
        <span class="database-item-menu-arrow fa fa-caret-right"></span>
      </div>
    </div>
    <div class="database-weapons-container">
      <div class="database-weapons-menu" *ngIf="weapons === true">
        <div class="database-weapons-menu-titles" (mouseover)="oneHandWeapons = true; twoHandWeapons = false; instruments = false;">
          1H Weapon
          <span class="database-weapons-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-weapons-menu-titles" (mouseover)="twoHandWeapons = true; oneHandWeapons = false; instruments = false;">
          2H Weapon
          <span class="database-weapons-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-weapons-menu-titles" (mouseover)="instruments = true; oneHandWeapons = false; twoHandWeapons = false;">
          Instruments
          <span class="database-weapons-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-weapons-menu-titles" (mouseover)="instruments = false; oneHandWeapons = false; twoHandWeapons = false;">
          Bow
        </div>
      </div>

      <div class="database-1h-weapon-menu" *ngIf="oneHandWeapons === true" (mouseover)="oneHandWeapons = true; twoHandWeapons = false; instruments = false;" (mouseleave)="oneHandWeapons = false">
        <div class="database-1h-weapon-menu-titles">
          Dagger
        </div>
        <div class="database-1h-weapon-menu-titles">
          Sword
        </div>
        <div class="database-1h-weapon-menu-titles">
          Katana
        </div>
        <div class="database-1h-weapon-menu-titles">
          Axe
        </div>
        <div class="database-1h-weapon-menu-titles">
          Club
        </div>
        <div class="database-1h-weapon-menu-titles">
          Scepter
        </div>
        <div class="database-1h-weapon-menu-titles">
          Shortspear
        </div>
      </div>

      <div class="database-2h-weapon-menu" *ngIf="twoHandWeapons === true" (mouseover)="oneHandWeapons = false; twoHandWeapons = true; instruments = false;" (mouseleave)="twoHandWeapons = false">
        <div class="database-2h-weapon-menu-titles">
          Greatsword
        </div>
        <div class="database-2h-weapon-menu-titles">
          Nodachi
        </div>
        <div class="database-2h-weapon-menu-titles">
          Greataxe
        </div>
        <div class="database-2h-weapon-menu-titles">
          Greatclub
        </div>
        <div class="database-2h-weapon-menu-titles">
          Staff
        </div>
        <div class="database-2h-weapon-menu-titles">
          Longspear
        </div>
      </div>

      <div class="database-instruments-menu" *ngIf="instruments === true" (mouseover)="oneHandWeapons = false; twoHandWeapons = false; instruments = true;" (mouseleave)="instruments = false">
        <div class="database-instruments-menu-titles">
          Lute
        </div>
        <div class="database-instruments-menu-titles">
          Flute
        </div>
        <div class="database-instruments-menu-titles">
          Drum
        </div>
      </div>
    </div>
    <div class="database-armor-container">
      <div class="database-armor-menu" *ngIf="armor === true">
        <div class="database-armor-menu-titles" (mouseover)="clothArmor = true; leatherArmor = false; plateArmor = false;">
          Cloth Armor
          <span class="database-armor-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-armor-menu-titles" (mouseover)="clothArmor = false; leatherArmor = true; plateArmor = false;">
          Leather Armor
          <span class="database-armor-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-armor-menu-titles" (mouseover)="clothArmor = flase; leatherArmor = false; plateArmor = true;">
          Plate Armor
          <span class="database-armor-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-armor-menu-titles">
          Cloak
        </div>
        <div class="database-armor-menu-titles">
          Shield
        </div>
      </div>

      <div class="database-cloth-armor-menu" *ngIf="clothArmor === true" (mouseover)="clothArmor = true; leatherArmor = false; plateArmor = false;" (mouseleave)="clothArmor = false">
        <div class="database-cloth-armor-menu-titles">
          Head
        </div>
        <div class="database-cloth-armor-menu-titles" >
          Chest
        </div>
        <div class="database-cloth-armor-menu-titles" >
          Waist
        </div>
        <div class="database-cloth-armor-menu-titles" >
          Wrists
        </div>
        <div class="database-cloth-armor-menu-titles">
          Hands
        </div>
        <div class="database-cloth-armor-menu-titles">
          Legs
        </div>
        <div class="database-cloth-armor-menu-titles">
          Feet
        </div>
      </div>

      <div class="database-leather-armor-menu" *ngIf="leatherArmor === true" (mouseover)="clothArmor = false; leatherArmor = true; plateArmor = false;" (mouseleave)="leatherArmor = false">
        <div class="database-leather-armor-menu-titles">
          Head
        </div>
        <div class="database-leather-armor-menu-titles" >
          Chest
        </div>
        <div class="database-leather-armor-menu-titles" >
          Waist
        </div>
        <div class="database-leather-armor-menu-titles" >
          Wrists
        </div>
        <div class="database-leather-armor-menu-titles">
          Hands
        </div>
        <div class="database-leather-armor-menu-titles">
          Legs
        </div>
        <div class="database-leather-armor-menu-titles">
          Feet
        </div>
      </div>

      <div class="database-plate-armor-menu" *ngIf="plateArmor === true" (mouseover)="clothArmor = false; leatherArmor = false; plateArmor = true;" (mouseleave)="plateArmor = false">
        <div class="database-plate-armor-menu-titles">
          Head
        </div>
        <div class="database-plate-armor-menu-titles" >
          Chest
        </div>
        <div class="database-plate-armor-menu-titles" >
          Waist
        </div>
        <div class="database-plate-armor-menu-titles" >
          Wrists
        </div>
        <div class="database-plate-armor-menu-titles">
          Hands
        </div>
        <div class="database-plate-armor-menu-titles">
          Legs
        </div>
        <div class="database-plate-armor-menu-titles">
          Feet
        </div>
      </div>
    </div>
    <div class="database-accessory-container">
      <div class="database-accessory-menu" *ngIf="accessory === true">
        <div class="database-accessory-menu-titles">
          Earrings
        </div>
        <div class="database-accessory-menu-titles">
          Necklace
        </div>
        <div class="database-accessory-menu-titles">
          Ring
        </div>
      </div>
    </div>
    <div class="database-consumables-container">
      <div class="database-consumables-menu" *ngIf="consumables === true">
        <div class="database-consumables-menu-titles">
          Consumables
        </div>
        <div class="database-consumables-menu-titles">
          Food
        </div>
        <div class="database-consumables-menu-titles">
          Drink
        </div>
        <div class="database-consumables-menu-titles">
          Materials
        </div>
        <div class="database-consumables-menu-titles">
          Siege Gear
        </div>
        <div class="database-consumables-menu-titles">
          Explosive
        </div>
        <div class="database-consumables-menu-titles">
          Lunastone
        </div>
        <div class="database-consumables-menu-titles">
          Lunagem
        </div>
        <div class="database-consumables-menu-titles">
          Buildings
        </div>
        <div class="database-consumables-menu-titles">
          Talisman
        </div>
      </div>
    </div>
    <div class="database-materials-container">
      <div class="database-materials-menu" *ngIf="materials === true">
        <div class="database-materials-menu-titles" (mouseover)="regalOre = false; materialsSub = false; plants = false; indoorDecor = false;">
          Pigment/Oil/Polish
        </div>
        <div class="database-materials-menu-titles" (mouseover)="regalOre = true; materialsSub = false; plants = false; indoorDecor = false;">
          Regal Ore
          <span class="database-materials-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-materials-menu-titles" (mouseover)="regalOre = false; materialsSub = true; plants = false; indoorDecor = false;">
          Materials
          <span class="database-materials-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-materials-menu-titles" (mouseover)="regalOre = false; materialsSub = false; plants = false; indoorDecor = false;">
          Animals
        </div>
        <div class="database-materials-menu-titles" (mouseover)="regalOre = false; materialsSub = false; plants = true; indoorDecor = false;">
          Plants
          <span class="database-materials-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-materials-menu-titles" (mouseover)="regalOre = false; materialsSub = false; plants = false; indoorDecor = true;">
          Indoor Decor
          <span class="database-materials-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-materials-menu-titles" (mouseover)="regalOre = false; materialsSub = false; plants = false; indoorDecor = false;">
          Books
        </div>
      </div>

      <div class="database-regal-ore-menu" *ngIf="regalOre === true" (mouseover)="regalOre = true; materialsSub = false; plants = false; indoorDecor = false;" (mouseleave)="regalOre = true;">
        <div class="database-regal-ore-menu-titles">
          Ore
        </div>
        <div class="database-regal-ore-menu-titles">
          Hardwood
        </div>
        <div class="database-regal-ore-menu-titles">
          Stone Brick
        </div>
        <div class="database-regal-ore-menu-titles">
          Pelt
        </div>
        <div class="database-regal-ore-menu-titles">
          Textile
        </div>
        <div class="database-regal-ore-menu-titles">
          Part
        </div>
        <div class="database-regal-ore-menu-titles">
          Meat
        </div>
        <div class="database-regal-ore-menu-titles">
          Seafood
        </div>
        <div class="database-regal-ore-menu-titles">
          Grain
        </div>
        <div class="database-regal-ore-menu-titles">
          Vegetable
        </div>
        <div class="database-regal-ore-menu-titles">
          Fruit
        </div>
        <div class="database-regal-ore-menu-titles">
          Spice
        </div>
        <div class="database-regal-ore-menu-titles">
          Herb
        </div>
        <div class="database-regal-ore-menu-titles">
          Flower
        </div>
        <div class="database-regal-ore-menu-titles">
          Soil
        </div>
        <div class="database-regal-ore-menu-titles">
          Gems
        </div>
      </div>

      <div class="database-materials-sub-menu" *ngIf="materialsSub === true" (mouseover)="regalOre = false; materialsSub = true; plants = false; indoorDecor = false;" (mouseleave)="materialsSub = true;">
        <div class="database-materials-sub-menu-titles">
          Paper
        </div>
        <div class="database-materials-sub-menu-titles">
          Metal
        </div>
        <div class="database-materials-sub-menu-titles">
          Lumber
        </div>
        <div class="database-materials-sub-menu-titles">
          Stone Brick
        </div>
        <div class="database-materials-sub-menu-titles">
          Hide
        </div>
        <div class="database-materials-sub-menu-titles">
          Fabric
        </div>
        <div class="database-materials-sub-menu-titles">
          Machining
        </div>
        <div class="database-materials-sub-menu-titles">
          Glass
        </div>
        <div class="database-materials-sub-menu-titles">
          Rubber
        </div>
        <div class="database-materials-sub-menu-titles">
          Precious Metal
        </div>
        <div class="database-materials-sub-menu-titles">
          Alchemy
        </div>
        <div class="database-materials-sub-menu-titles">
          Crafting
        </div>
        <div class="database-materials-sub-menu-titles">
          Specialty Pigments
        </div>
        <div class="database-materials-sub-menu-titles">
          Cooking Oil
        </div>
        <div class="database-materials-sub-menu-titles">
          Spices
        </div>
      </div>

      <div class="database-plants-menu" *ngIf="plants === true" (mouseover)="regalOre = false; materialsSub = false; plants = true; indoorDecor = false;" (mouseleave)="plants = true;">
        <div class="database-plants-menu-titles">
          Saplings
        </div>
        <div class="database-plants-menu-titles">
          Seed
        </div>
      </div>

      <div class="database-indoor-decor-menu" *ngIf="indoorDecor === true" (mouseover)="regalOre = false; materialsSub = false; plants = false; indoorDecor = true;" (mouseleave)="indoorDecor = true;">
        <div class="database-indoor-decor-menu-titles">
          Furniture
        </div>
      </div>
    </div>
    <div class="database-machining-container">
      <div class="database-machining-menu" *ngIf="machining === true">
        <div class="database-machining-menu-titles">
          Transportation
        </div>
        <div class="database-machining-menu-titles">
          Ships
        </div>
        <div class="database-machining-menu-titles">
          Gliders
        </div>
        <div class="database-machining-menu-titles">
          Siege Gear
        </div>
      </div>
    </div>
    <div class="database-battle-pets-container">
      <div class="database-battle-pets-menu" *ngIf="battlePets === true">
        <div class="database-battle-pets-menu-titles">
          Battle Pets
        </div>
        <div class="database-battle-pets-menu-titles">
          Pet Gear
        </div>
      </div>
    </div>
    <div class="database-toy-container">
      <div class="database-toy-menu" *ngIf="toy === true">
        <div class="database-toy-menu-titles" (mouseover)="toyCrafting = true;">
          Crafting
          <span class="database-toy-menu-arrow fa fa-caret-right"></span>
        </div>
        <div class="database-toy-menu-titles">
          Coins
        </div>
      </div>

      <div class="database-toy-crafting-menu" *ngIf="toyCrafting === true" (mouseleave)="toyCrafting = false;">
        <div class="database-toy-crafting-menu-titles">
          Adventure
        </div>
      </div>
    </div>
  </div>
</div>
