.overlay {
  background-color: rgba(1, 1, 1, 0.7);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 50;
}

.title-overlay {
  bottom: 55px;
  top: 40px;
  left: 15px;
  right: 30px;
  position: absolute;
  z-index: 50;
  border: 1px solid;
  z-index: 50;
}

.title-modal-inner-content {
  width: 100%;
  overflow: visible;
  box-sizing: border-box;
}

.title-modal-outer-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 205px;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  z-index: 52;
}

.titleItem {
  cursor: pointer;
  padding-left: 1em;
}

.titleResetButton {
  position: absolute;
  width: 100px;
  font-size: 20px;
  left: 90px;
  bottom: 13px;
}

.titleSearchBox {
  margin-bottom: 1em;
}

.titleLoadingData {
  text-align: center;
}

.titleCloseButton {
  font-size: 20px;
  float: right;
  cursor: pointer;
}


.titleModalContainer {
  height: 303px;
  position: absolute;
  background-color: #a49359;
  top: 25%;
  left: 34%;
  width: 303px;
  z-index: 51;
}
