.healthBarLevelText {
  font-size: 25px;
  color: orange;
}

.healthBarSection {
  padding-bottom: 3em;
  bottom: 50px;
  position: relative;
}

.healthText {
  position: absolute;
  right: 22%;
  top: 41px;
  color: white;
}

.manaText {
  position: absolute;
  right: 22%;
  top: 56px;
  color: white;
}
